/*Conteúdo */
body {
    background-color: #fafafa;
}

section.cadastro {
    display: flex;
    margin: 0 4rem;
    padding: 0.5rem 1.5rem 1rem;
}

section.listagem {
    background-color: #C0C0C0;
    padding: 1.5rem 6rem 5rem;
    /* display: flex;
    margin: auto; */
}

#perfil {
    width: 10%;
    /* display: flex; */
    position: absolute;
    margin: 0 2.5rem 0;
    font-size: large;
    font-family: "Playfair Display", serif;
}

div#perfil + div {
    margin: auto;
}

#card-servico {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    background-color: #C0C0C0;
    border-radius: 10px;
    margin: auto;
    padding: 1rem 2.5rem;
    color: #0c0c0c;
}
#card-servico div#button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

input, button, textarea, select {
    width: 75%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(109, 143, 100, .56);
    margin: 0.5rem;
    padding: 0.3rem;
}

textarea {
    height: 60px;
}

.campos-forms {
    display: flex;
    align-items: center;
}

.campos-forms label span, div p span {
    color: red;
}

input::placeholder, textarea::placeholder {
    color: #D9D9D9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    background-color: #414B3B;
    color: #D9D9D9;
}

.cards-listagem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6d8f64;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

.servico input::placeholder, .servico textarea::placeholder {
    color: #7a7979;
}

.servico input, .servico textarea {
    background-color: #C0C0C0;
    color: #727070;
}
.botoes {
    display: flex;
}

button.editar {
    background-color: #52724A;
    padding: 0 0.5rem;
}

button.excluir {
    background-color: #983939;
    padding: 0 0.5rem;
}

.servico input#categoria, .servico input#categoria::placeholder {
    background-color: transparent;
    color: #D9D9D9;

    font-size: large;
    text-align: center;
    font-family: "Playfair Display", serif;;
}
/* Rodapé */
.rodape {
    z-index: 5;
}